* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #111;
}

.container {
    max-width: 505px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container .square {
    width: 16px;
    height: 16px;
    margin: 2px;
    background-color: #1d1d1d;
    box-shadow: 0 0 2px #000;
    transition: 2s ease;
}

.container .square:hover {
    transition: 0s;
}