* {
    box-sizing: border-box;
}

body {
    background-color: #8e44ad;
    color: #FFF;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.counter-container {
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}