* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.loader-container {
    width: 100px;
    height: 100px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container .triangle {
    position: absolute;
    border: 50px solid #fff;
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.loader-container .triangle:first-child {
    border-left-color: #fff;
    animation: loading 2.0s infinite;
}

.loader-container .triangle:last-child {
    border-bottom-color: #fff;
    animation: loading 2.0s 0.5s infinite;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);

    }
    to {
        transform: rotate(360deg);
    }
}

