* {
  box-sizing: border-box;
}

/*这里用定位让文字和背景图片重叠*/
/* 
body {
  margin: 0;
  position: relative;
}

.bg {
  background-image: url('./bgimg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(20px);
}

.loading-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: auto;
  color: #FFF;
  text-align: center;
  line-height: 100vh;
  font-size: 80px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*/


/*方法二*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

.bg {
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  background-image: url('./bgimg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loading-text {
  font-size: 80px;
  color: #EEE;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}