* {
    box-sizing: border-box;
}

body {
    background-color: #3494e4;
    color: #FFF;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cup {
    background-color: #6ab3f8;
    color: #000;
    height: 320px;
    width: 150px;
    margin: 20px;
    border-radius: 0 0 30px 30px;
    border: 4px solid #144fc6;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.cup .remained {
    background-color: #fff;
    width: 100%;
    flex: 1;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 500ms ease;
}

.cup .percentage {
    border-radius: 0 0 30px 30px;
    height: 0;
    display: flex;
    align-items: center;
    transition: 500ms ease;
}

.cup.cup-small {
    background-color: #fff;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 50px;
    margin: 15px 5px;
    border-radius: 0 0 15px 15px;
    cursor: pointer;
    transition: 500ms ease;
}

.cup.cup-small.filled {
    background-color: #6ab3f8;
    transition: 500ms ease;
}

.cups {
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text {
    white-space: nowrap;
}